In [1]:
%pylab inline

/home/rory/anaconda2/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

Populating the interactive namespace from numpy and matplotlib

In [2]:
import sklearn
import numpy as np
import pandas as pd

In [3]:
data = []
datapath = '/home/rory/order_Book.csv'
data = pd.read_csv(datapath)

In [4]:
data.head()

,date,series,timestamp,sequence_number,ob_position,quantity_difference,ob_command,change_reason,order_number,price,mp_quantity,bid_or_ask,bestprice,bestsize
0,2015/7/31,CNQ15,2015-07-31D04:27:48.997487100,1,1,5,0,30,72D0F3B75B454045,988500,5,1,1041500,1
1,2015/7/31,CNQ15,2015-07-31D04:27:48.997487100,2,1,266,0,30,C8946636EB1CCE9C,1142000,266,2,1115000,3
2,2015/7/31,CNQ15,2015-07-31D04:27:48.997487100,3,2,1,0,30,DC6ADEBB6E535353,979000,1,1,1041500,1
3,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,4,3,2,0,30,4005CE3E43912211,950000,2,1,1041500,1
4,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,5,1,1,0,30,FE457FBF87856C85,1041500,1,1,1041500,1

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14396 entries, 0 to 14395
Data columns (total 14 columns):
date                   14396 non-null object
series                 14396 non-null object
timestamp              14396 non-null object
sequence_number        14396 non-null int64
ob_position            14396 non-null int64
quantity_difference    14396 non-null int64
ob_command             14396 non-null int64
change_reason          14396 non-null int64
order_number           14396 non-null object
price                  14396 non-null int64
mp_quantity            14396 non-null int64
bid_or_ask             14396 non-null int64
bestprice              14396 non-null int64
bestsize               14396 non-null int64
dtypes: int64(10), object(4)
memory usage: 1.5+ MB

In [6]:
data.columns

Index([u'date', u'series', u'timestamp', u'sequence_number', u'ob_position',
       u'quantity_difference', u'ob_command', u'change_reason',
       u'order_number', u'price', u'mp_quantity', u'bid_or_ask', u'bestprice',
       u'bestsize'],
      dtype='object')

In [7]:
data['timestamp'][42]

'2015-07-31D08:45:00.111523900'

In [8]:
data1 = data.values

In [9]:
data1[44:46]

array([['2015/7/31', 'CNQ15', '2015-07-31D08:45:00.111523900', 45, 1, 1, 0,
        8, '70E05AE71BEA00EA', 1043500, 1, 1, 1043500, 1],
       ['2015/7/31', 'CNQ15', '2015-07-31D08:45:00.112523900', 46, 1, -1,
        1, 8, 'CC98E32ADCBBB95B', 0, 0, 2, 1043500, 1]], dtype=object)

In [10]:
data1[42]

array(['2015/7/31', 'CNQ15', '2015-07-31D08:45:00.111523900', 43, 1, 1, 0,
       6, 'CC98E32ADCBBB95B', 0, 1, 2, 1043500, 1], dtype=object)

In [11]:
type(data1[42][2])

str

In [12]:
data1[42][2][20:29] #== '8:45:00'

'111523900'

In [13]:
int(data1[42][2][20:29])

111523900

In [14]:
int(data1[45][2][20:29]),int(data1[45][2][20:29]) > int(data1[42][2][20:29])

(112523900, True)

In [15]:
unique(data[['change_reason']])

array([ 1,  3,  5,  6,  8, 12, 30])

In [16]:
len(data[data['change_reason'] == 3]) # change_reason = traded

1448

In [17]:
len(data[data['change_reason'] == 12])

2

In [18]:
data_bid = data.loc[lambda a:a.bid_or_ask == 1,:]
data_ask = data.loc[lambda a:a.bid_or_ask == 2,:]

Bid

In [19]:
#data_bid[data_bid['change_reason'] == 3]
len(data_bid[data_bid['change_reason'] == 3]) # change_reason = traded

790

In [20]:
len(data_bid[data_bid['change_reason'] == 8]) # change_reason =

560

In [21]:
len(data_bid[data_bid['change_reason'] == 1]) #change_reason = Delected

1719

In [22]:
len(data_bid[data_bid['change_reason'] == 5]) #change_reason = Amended

978

In [23]:
len(data_bid[data_bid['change_reason'] == 6]) #change_reason = added or activated

3654

In [24]:
len(data_bid[data_bid['change_reason'] == 19]) #change_reason = Good-for-Day Orders Delected

0

In [25]:
len(data_bid[data_bid['change_reason'] == 30]) #change_reason = Good-To-Cancel Orders Reloaded

29

In [26]:
len(data_bid[data_bid['ob_command'] == 2])

279

Ask

In [27]:
len(data_ask[data_ask['change_reason'] == 3]) # change_reason = traded

658

In [28]:
len(data_ask[data_ask['change_reason'] == 1]) #change_reason = Delected

1527

In [29]:
len(data_ask[data_ask['change_reason'] == 5]) #change_reason = Amended

338

In [30]:
len(data_ask[data_ask['change_reason'] == 6]) #change_reason = added or activated

2689

In [31]:
len(data_ask[data_ask['change_reason'] == 8]) #change_reason =

1439

In [32]:
len(data_ask[data_ask['change_reason'] == 19]) #change_reason = Good-for-Day Orders Delected

0

In [33]:
len(data_ask[data_ask['change_reason'] == 30]) #change_reason = Good-To-Cancel Orders Reloaded

13

In [34]:
len(data_ask[data_ask['ob_command'] == 2])

202

In [35]:
data_bid.head(60)

,date,series,timestamp,sequence_number,ob_position,quantity_difference,ob_command,change_reason,order_number,price,mp_quantity,bid_or_ask,bestprice,bestsize
0,2015/7/31,CNQ15,2015-07-31D04:27:48.997487100,1,1,5,0,30,72D0F3B75B454045,988500,5,1,1041500,1
2,2015/7/31,CNQ15,2015-07-31D04:27:48.997487100,3,2,1,0,30,DC6ADEBB6E535353,979000,1,1,1041500,1
3,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,4,3,2,0,30,4005CE3E43912211,950000,2,1,1041500,1
4,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,5,1,1,0,30,FE457FBF87856C85,1041500,1,1,1041500,1
5,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,6,2,2,0,30,E33BA3AF1965F906,1008000,2,1,1041500,1
6,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,7,5,1,0,30,54F252BB0DE2F2E3,969250,1,1,1041500,1
7,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,8,7,1,0,30,D472DABB94327932,949000,1,1,1041500,1
8,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,9,8,1,0,30,54FADAB3464C2B4C,948750,1,1,1041500,1
9,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,10,2,1,0,30,4D602BF798E67886,1020000,1,1,1041500,1
13,2015/7/31,CNQ15,2015-07-31D04:27:49.003487100,14,5,5,0,30,6AD3CB22C767AAC7,981750,5,1,1041500,1
14,2015/7/31,CNQ15,2015-07-31D04:27:49.003487100,15,10,1,0,30,54F25AB3D5A1BAA1,948750,1,1,1041500,1
15,2015/7/31,CNQ15,2015-07-31D04:27:49.003487100,16,3,2,0,30,EBABAFAF23740314,1010000,2,1,1041500,1
17,2015/7/31,CNQ15,2015-07-31D04:27:49.003487100,18,2,1,0,30,722AF2AF74DE59DE,1035500,1,1,1041500,1
18,2015/7/31,CNQ15,2015-07-31D04:27:49.003487100,19,6,1,0,30,7282FFEF7F4C640C,1000000,1,1,1041500,1
19,2015/7/31,CNQ15,2015-07-31D04:27:49.003487100,20,7,1,0,30,52A156BF98DA7DDA,998500,1,1,1041500,1
20,2015/7/31,CNQ15,2015-07-31D04:27:49.003487100,21,7,1,0,30,DA29D2BFA32B882B,999500,1,1,1041500,1
22,2015/7/31,CNQ15,2015-07-31D04:27:49.003487100,23,3,1,0,30,76E6F6F3B9D69ED6,1030000,1,1,1041500,1
24,2015/7/31,CNQ15,2015-07-31D04:27:49.003487100,25,6,2,0,30,E33BA3A718D0F871,1008000,2,1,1041500,1
25,2015/7/31,CNQ15,2015-07-31D04:27:49.006487100,26,5,2,0,30,E3232FA7E50CC4AC,1010000,2,1,1045750,1
26,2015/7/31,CNQ15,2015-07-31D04:27:49.006487100,27,9,75,0,30,A0183DD3BD8EA28E,1000000,75,1,1045750,1
27,2015/7/31,CNQ15,2015-07-31D04:27:49.006487100,28,12,1,0,30,DAA1DABF71EE56EE,999000,1,1,1045750,1
28,2015/7/31,CNQ15,2015-07-31D04:27:49.006487100,29,1,1,0,30,70E05AE71BEA00EA,1045750,1,1,1045750,1
29,2015/7/31,CNQ15,2015-07-31D04:27:49.006487100,30,20,1,0,30,DCFA52B340A425A4,949500,1,1,1045750,1
30,2015/7/31,CNQ15,2015-07-31D04:27:49.006487100,31,15,1,0,30,D2A9D6BFB0349534,998500,1,1,1045750,1
31,2015/7/31,CNQ15,2015-07-31D04:27:49.006487100,32,6,2,0,30,633327AFA5A08540,1015000,2,1,1045750,1
34,2015/7/31,CNQ15,2015-07-31D04:27:49.006487100,35,13,1,0,30,54EADEB3C576AA76,999500,1,1,1045750,1
35,2015/7/31,CNQ15,2015-07-31D04:27:49.009487100,36,7,2,0,30,633B27AFE323C2C3,1015000,2,1,1045750,1
40,2015/7/31,CNQ15,2015-07-31D04:27:49.009487100,41,25,1,0,30,5C72D2BBCEEBB3EB,949000,1,1,1045750,1
41,2015/7/31,CNQ15,2015-07-31D04:27:49.009487100,42,16,1,0,30,D221DABF510C360C,999500,1,1,1045750,1
43,2015/7/31,CNQ15,2015-07-31D08:45:00.111523900,44,1,-1,1,8,70E05AE71BEA00EA,1045750,0,1,1043500,1
44,2015/7/31,CNQ15,2015-07-31D08:45:00.111523900,45,1,1,0,8,70E05AE71BEA00EA,1043500,1,1,1043500,1
47,2015/7/31,CNQ15,2015-07-31D08:45:00.112523900,48,5,1,0,6,EA88632A112CF44D,1027250,1,1,1043500,1
48,2015/7/31,CNQ15,2015-07-31D08:45:00.140523900,49,4,1,0,6,621762763E392279,1034250,1,1,1043500,1
50,2015/7/31,CNQ15,2015-07-31D08:45:00.146523900,51,1,-1,1,8,70E05AE71BEA00EA,1043500,0,1,1038500,2
51,2015/7/31,CNQ15,2015-07-31D08:45:00.146523900,52,1,1,0,8,70E05AE71BEA00EA,1038500,1,1,1038500,2
52,2015/7/31,CNQ15,2015-07-31D08:45:00.146523900,53,2,-1,1,8,FE457FBF87856C85,1041500,0,1,1038500,2
53,2015/7/31,CNQ15,2015-07-31D08:45:00.146523900,54,2,1,0,8,FE457FBF87856C85,1038500,1,1,1038500,2
59,2015/7/31,CNQ15,2015-07-31D08:45:00.155523900,60,23,1,0,6,EA00E32297197A39,987500,1,1,1038500,2
61,2015/7/31,CNQ15,2015-07-31D08:45:00.161523900,62,10,228,0,6,56FBF2BFF559DA59,1013000,228,1,1038500,2
65,2015/7/31,CNQ15,2015-07-31D08:45:00.168523900,66,1,1,0,6,6A08E322D4EFB80F,1038500,1,1,1043500,2
66,2015/7/31,CNQ15,2015-07-31D08:45:00.168523900,67,1,-1,1,8,6A08E322D4EFB80F,1038500,0,1,1043500,2
67,2015/7/31,CNQ15,2015-07-31D08:45:00.168523900,68,1,1,0,6,6A08E322D4EFB80F,1043500,1,1,1043500,2
68,2015/7/31,CNQ15,2015-07-31D08:45:00.168523900,69,2,-1,1,8,70E05AE71BEA00EA,1038500,0,1,1043500,2
69,2015/7/31,CNQ15,2015-07-31D08:45:00.168523900,70,2,1,0,8,70E05AE71BEA00EA,1043500,1,1,1043500,2
70,2015/7/31,CNQ15,2015-07-31D08:45:00.168523900,71,3,-1,1,8,FE457FBF87856C85,1038500,0,1,1043500,2
71,2015/7/31,CNQ15,2015-07-31D08:45:00.168523900,72,3,1,0,8,FE457FBF87856C85,1041500,1,1,1043500,2
78,2015/7/31,CNQ15,2015-07-31D08:45:00.171523900,79,4,1,0,6,621F62768E5B729B,1041250,1,1,1043500,2
79,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,80,1,1,0,6,EA08E322DAD0BDF0,1043500,1,1,1047000,2
80,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,81,1,-1,1,8,EA08E322DAD0BDF0,1043500,0,1,1047000,2
81,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,82,1,1,0,6,EA08E322DAD0BDF0,1047000,1,1,1047000,2
82,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,83,2,-1,1,8,6A08E322D4EFB80F,1043500,0,1,1047000,2
83,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,84,2,1,0,8,6A08E322D4EFB80F,1047000,1,1,1047000,2
84,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,85,3,-1,1,8,70E05AE71BEA00EA,1043500,0,1,1047000,2
85,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,86,3,1,0,8,70E05AE71BEA00EA,1045750,1,1,1047000,2
90,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,91,1,3,0,6,629F6276A44F888F,1047000,3,1,1057500,3
91,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,92,1,-3,1,8,629F6276A44F888F,1047000,0,1,1057500,3
92,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,93,1,3,0,6,629F6276A44F888F,1057500,3,1,1057500,3
93,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,94,2,-1,1,8,EA08E322DAD0BDF0,1047000,0,1,1057500,3
94,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,95,2,1,0,8,EA08E322DAD0BDF0,1055250,1,1,1057500,3
95,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,96,3,-1,1,8,6A08E322D4EFB80F,1047000,0,1,1057500,3

In [36]:
data_bid.loc[lambda a:a. change_reason == 3,:].head() # traded => quantity_difference < 0

,date,series,timestamp,sequence_number,ob_position,quantity_difference,ob_command,change_reason,order_number,price,mp_quantity,bid_or_ask,bestprice,bestsize
2667,2015/7/31,CNQ15,2015-07-31D09:00:00.053441500,2668,1,-1,2,3,E0CCC63E0638E539,1062750,9,1,1062750,1
2669,2015/7/31,CNQ15,2015-07-31D09:00:00.053441500,2670,1,-1,2,3,E0CCC63E0638E539,1062750,8,1,1062750,1
2671,2015/7/31,CNQ15,2015-07-31D09:00:00.053441500,2672,1,-1,2,3,E0CCC63E0638E539,1062750,7,1,1062750,1
2673,2015/7/31,CNQ15,2015-07-31D09:00:00.053441500,2674,1,-1,2,3,E0CCC63E0638E539,1062750,6,1,1062750,1
2675,2015/7/31,CNQ15,2015-07-31D09:00:00.054441500,2676,1,-1,2,3,E0CCC63E0638E539,1062750,5,1,1062750,1

In [37]:
data_bid.loc[lambda a:a. change_reason == 1,:].head() # Deleted => quantity_difference < 0

,date,series,timestamp,sequence_number,ob_position,quantity_difference,ob_command,change_reason,order_number,price,mp_quantity,bid_or_ask,bestprice,bestsize
1373,2015/7/31,CNQ15,2015-07-31D08:45:44.542127900,1374,9,-1,1,1,D2537FFF43832843,1052500,0,1,1055000,37
1389,2015/7/31,CNQ15,2015-07-31D08:46:42.940605900,1390,7,-1,1,1,CA40627E418F22CF,1055000,0,1,1055000,37
1393,2015/7/31,CNQ15,2015-07-31D08:47:15.203308900,1394,4,-1,1,1,4ACF627E548538C5,1055000,0,1,1055000,36
1405,2015/7/31,CNQ15,2015-07-31D08:48:30.554633900,1406,16,-1,1,1,D478D2ABDE4BC0CB,1050000,0,1,1055000,37
1416,2015/7/31,CNQ15,2015-07-31D08:49:24.742147900,1417,16,-1,1,1,4898CA7651AE30AE,1050000,0,1,1055000,38

In [38]:
data_bid[(data_bid.change_reason == 5) & (data_bid.quantity_difference > 0)]

Empty DataFrame
Columns: [date, series, timestamp, sequence_number, ob_position, quantity_difference, ob_command, change_reason, order_number, price, mp_quantity, bid_or_ask, bestprice, bestsize]
Index: []

In [39]:
data_bid[(data_bid.change_reason == 8) & (data_bid.quantity_difference < 0)]

,date,series,timestamp,sequence_number,ob_position,quantity_difference,ob_command,change_reason,order_number,price,mp_quantity,bid_or_ask,bestprice,bestsize
43,2015/7/31,CNQ15,2015-07-31D08:45:00.111523900,44,1,-1,1,8,70E05AE71BEA00EA,1045750,0,1,1043500,1
50,2015/7/31,CNQ15,2015-07-31D08:45:00.146523900,51,1,-1,1,8,70E05AE71BEA00EA,1043500,0,1,1038500,2
52,2015/7/31,CNQ15,2015-07-31D08:45:00.146523900,53,2,-1,1,8,FE457FBF87856C85,1041500,0,1,1038500,2
66,2015/7/31,CNQ15,2015-07-31D08:45:00.168523900,67,1,-1,1,8,6A08E322D4EFB80F,1038500,0,1,1043500,2
68,2015/7/31,CNQ15,2015-07-31D08:45:00.168523900,69,2,-1,1,8,70E05AE71BEA00EA,1038500,0,1,1043500,2
70,2015/7/31,CNQ15,2015-07-31D08:45:00.168523900,71,3,-1,1,8,FE457FBF87856C85,1038500,0,1,1043500,2
80,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,81,1,-1,1,8,EA08E322DAD0BDF0,1043500,0,1,1047000,2
82,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,83,2,-1,1,8,6A08E322D4EFB80F,1043500,0,1,1047000,2
84,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,85,3,-1,1,8,70E05AE71BEA00EA,1043500,0,1,1047000,2
91,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,92,1,-3,1,8,629F6276A44F888F,1047000,0,1,1057500,3
93,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,94,2,-1,1,8,EA08E322DAD0BDF0,1047000,0,1,1057500,3
95,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,96,3,-1,1,8,6A08E322D4EFB80F,1047000,0,1,1057500,3
106,2015/7/31,CNQ15,2015-07-31D08:45:00.181523900,107,1,-3,1,8,629F6276A44F888F,1057500,0,1,1056250,3
133,2015/7/31,CNQ15,2015-07-31D08:45:00.249523900,134,1,-3,1,8,629F6276A44F888F,1056250,0,1,1051750,4
135,2015/7/31,CNQ15,2015-07-31D08:45:00.249523900,136,2,-1,1,8,EA08E322DAD0BDF0,1055250,0,1,1051750,4
146,2015/7/31,CNQ15,2015-07-31D08:45:00.284523900,147,1,-3,1,8,629F6276A44F888F,1051750,0,1,1047750,5
148,2015/7/31,CNQ15,2015-07-31D08:45:00.284523900,149,2,-1,1,8,EA08E322DAD0BDF0,1051750,0,1,1047750,5
150,2015/7/31,CNQ15,2015-07-31D08:45:00.284523900,151,3,-1,1,8,6A08E322D4EFB80F,1048250,0,1,1047750,5
163,2015/7/31,CNQ15,2015-07-31D08:45:00.319523900,164,1,-3,1,8,629F6276A44F888F,1047750,0,1,1046500,6
165,2015/7/31,CNQ15,2015-07-31D08:45:00.319523900,166,2,-1,1,8,EA08E322DAD0BDF0,1047750,0,1,1046500,6
167,2015/7/31,CNQ15,2015-07-31D08:45:00.319523900,168,3,-1,1,8,6A08E322D4EFB80F,1047750,0,1,1046500,6
169,2015/7/31,CNQ15,2015-07-31D08:45:00.319523900,170,4,-1,1,8,E2006B22EF0AD22A,1047500,0,1,1046500,6
185,2015/7/31,CNQ15,2015-07-31D08:45:00.387523900,186,1,-3,1,8,629F6276A44F888F,1046500,0,1,1044250,7
187,2015/7/31,CNQ15,2015-07-31D08:45:00.387523900,188,2,-1,1,8,EA08E322DAD0BDF0,1046500,0,1,1044250,7
189,2015/7/31,CNQ15,2015-07-31D08:45:00.387523900,190,3,-1,1,8,6A08E322D4EFB80F,1046500,0,1,1044250,7
191,2015/7/31,CNQ15,2015-07-31D08:45:00.387523900,192,4,-1,1,8,E2006B22EF0AD22A,1046500,0,1,1044250,7
193,2015/7/31,CNQ15,2015-07-31D08:45:00.387523900,194,5,-1,1,8,70E05AE71BEA00EA,1045750,0,1,1044250,7
210,2015/7/31,CNQ15,2015-07-31D08:45:00.422523900,211,1,-3,1,8,629F6276A44F888F,1044250,0,1,1042250,8
212,2015/7/31,CNQ15,2015-07-31D08:45:00.422523900,213,2,-1,1,8,EA08E322DAD0BDF0,1044250,0,1,1042250,8
214,2015/7/31,CNQ15,2015-07-31D08:45:00.422523900,215,3,-1,1,8,6A08E322D4EFB80F,1044250,0,1,1042250,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2142,2015/7/31,CNQ15,2015-07-31D08:59:57.157468500,2143,1,-10,1,8,E0CCC63E0638E539,1064500,0,1,1064000,164
2144,2015/7/31,CNQ15,2015-07-31D08:59:57.157468500,2145,2,-141,1,8,CAD8E276F1B5D2F5,1064500,0,1,1064000,164
2146,2015/7/31,CNQ15,2015-07-31D08:59:57.157468500,2147,3,-1,1,8,4448677231EE154E,1064500,0,1,1064000,164
2148,2015/7/31,CNQ15,2015-07-31D08:59:57.157468500,2149,4,-1,1,8,E217E67EF6ACDAEC,1064500,0,1,1064000,164
2150,2015/7/31,CNQ15,2015-07-31D08:59:57.157468500,2151,5,-5,1,8,E483EA66F071CFB1,1064500,0,1,1064000,164
2152,2015/7/31,CNQ15,2015-07-31D08:59:57.157468500,2153,6,-6,1,8,F2A776BF965F7B5F,1064500,0,1,1064000,164
2241,2015/7/31,CNQ15,2015-07-31D08:59:57.893459500,2242,1,-10,1,8,E0CCC63E0638E539,1064000,0,1,1063500,164
2243,2015/7/31,CNQ15,2015-07-31D08:59:57.893459500,2244,2,-141,1,8,CAD8E276F1B5D2F5,1064000,0,1,1063500,164
2245,2015/7/31,CNQ15,2015-07-31D08:59:57.893459500,2246,3,-1,1,8,4448677231EE154E,1064000,0,1,1063500,164
2247,2015/7/31,CNQ15,2015-07-31D08:59:57.893459500,2248,4,-1,1,8,E217E67EF6ACDAEC,1064000,0,1,1063500,164
2249,2015/7/31,CNQ15,2015-07-31D08:59:57.893459500,2250,5,-5,1,8,E483EA66F071CFB1,1064000,0,1,1063500,164
2251,2015/7/31,CNQ15,2015-07-31D08:59:57.893459500,2252,6,-6,1,8,F2A776BF965F7B5F,1064000,0,1,1063500,164
2346,2015/7/31,CNQ15,2015-07-31D08:59:59.650449000,2347,1,-10,1,8,E0CCC63E0638E539,1063500,0,1,1063250,164
2348,2015/7/31,CNQ15,2015-07-31D08:59:59.650449000,2349,2,-141,1,8,CAD8E276F1B5D2F5,1063500,0,1,1063250,164
2350,2015/7/31,CNQ15,2015-07-31D08:59:59.650449000,2351,3,-1,1,8,4448677231EE154E,1063500,0,1,1063250,164
2352,2015/7/31,CNQ15,2015-07-31D08:59:59.650449000,2353,4,-1,1,8,E217E67EF6ACDAEC,1063500,0,1,1063250,164
2354,2015/7/31,CNQ15,2015-07-31D08:59:59.650449000,2355,5,-5,1,8,E483EA66F071CFB1,1063500,0,1,1063250,164
2356,2015/7/31,CNQ15,2015-07-31D08:59:59.650449000,2357,6,-6,1,8,F2A776BF965F7B5F,1063500,0,1,1063250,164
2452,2015/7/31,CNQ15,2015-07-31D08:59:59.860441500,2453,1,-10,1,8,E0CCC63E0638E539,1063250,0,1,1063000,164
2454,2015/7/31,CNQ15,2015-07-31D08:59:59.860441500,2455,2,-141,1,8,CAD8E276F1B5D2F5,1063250,0,1,1063000,164
2456,2015/7/31,CNQ15,2015-07-31D08:59:59.861441500,2457,3,-1,1,8,4448677231EE154E,1063250,0,1,1063000,164
2458,2015/7/31,CNQ15,2015-07-31D08:59:59.861441500,2459,4,-1,1,8,E217E67EF6ACDAEC,1063250,0,1,1063000,164
2460,2015/7/31,CNQ15,2015-07-31D08:59:59.861441500,2461,5,-5,1,8,E483EA66F071CFB1,1063250,0,1,1063000,164
2462,2015/7/31,CNQ15,2015-07-31D08:59:59.861441500,2463,6,-6,1,8,F2A776BF965F7B5F,1063250,0,1,1063000,164
2559,2015/7/31,CNQ15,2015-07-31D09:00:00.016441500,2560,1,-10,1,8,E0CCC63E0638E539,1063000,0,1,1062750,170
2561,2015/7/31,CNQ15,2015-07-31D09:00:00.016441500,2562,2,-141,1,8,CAD8E276F1B5D2F5,1063000,0,1,1062750,170
2563,2015/7/31,CNQ15,2015-07-31D09:00:00.016441500,2564,3,-1,1,8,4448677231EE154E,1063000,0,1,1062750,170
2565,2015/7/31,CNQ15,2015-07-31D09:00:00.016441500,2566,4,-1,1,8,E217E67EF6ACDAEC,1063000,0,1,1062750,170
2567,2015/7/31,CNQ15,2015-07-31D09:00:00.016441500,2568,5,-5,1,8,E483EA66F071CFB1,1063000,0,1,1062750,170
2569,2015/7/31,CNQ15,2015-07-31D09:00:00.016441500,2570,6,-6,1,8,F2A776BF965F7B5F,1063000,0,1,1062750,170

In [40]:
data_bid[(data_bid.change_reason == 8) & (data_bid.quantity_difference < 0)]

,date,series,timestamp,sequence_number,ob_position,quantity_difference,ob_command,change_reason,order_number,price,mp_quantity,bid_or_ask,bestprice,bestsize
43,2015/7/31,CNQ15,2015-07-31D08:45:00.111523900,44,1,-1,1,8,70E05AE71BEA00EA,1045750,0,1,1043500,1
50,2015/7/31,CNQ15,2015-07-31D08:45:00.146523900,51,1,-1,1,8,70E05AE71BEA00EA,1043500,0,1,1038500,2
52,2015/7/31,CNQ15,2015-07-31D08:45:00.146523900,53,2,-1,1,8,FE457FBF87856C85,1041500,0,1,1038500,2
66,2015/7/31,CNQ15,2015-07-31D08:45:00.168523900,67,1,-1,1,8,6A08E322D4EFB80F,1038500,0,1,1043500,2
68,2015/7/31,CNQ15,2015-07-31D08:45:00.168523900,69,2,-1,1,8,70E05AE71BEA00EA,1038500,0,1,1043500,2
70,2015/7/31,CNQ15,2015-07-31D08:45:00.168523900,71,3,-1,1,8,FE457FBF87856C85,1038500,0,1,1043500,2
80,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,81,1,-1,1,8,EA08E322DAD0BDF0,1043500,0,1,1047000,2
82,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,83,2,-1,1,8,6A08E322D4EFB80F,1043500,0,1,1047000,2
84,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,85,3,-1,1,8,70E05AE71BEA00EA,1043500,0,1,1047000,2
91,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,92,1,-3,1,8,629F6276A44F888F,1047000,0,1,1057500,3
93,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,94,2,-1,1,8,EA08E322DAD0BDF0,1047000,0,1,1057500,3
95,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,96,3,-1,1,8,6A08E322D4EFB80F,1047000,0,1,1057500,3
106,2015/7/31,CNQ15,2015-07-31D08:45:00.181523900,107,1,-3,1,8,629F6276A44F888F,1057500,0,1,1056250,3
133,2015/7/31,CNQ15,2015-07-31D08:45:00.249523900,134,1,-3,1,8,629F6276A44F888F,1056250,0,1,1051750,4
135,2015/7/31,CNQ15,2015-07-31D08:45:00.249523900,136,2,-1,1,8,EA08E322DAD0BDF0,1055250,0,1,1051750,4
146,2015/7/31,CNQ15,2015-07-31D08:45:00.284523900,147,1,-3,1,8,629F6276A44F888F,1051750,0,1,1047750,5
148,2015/7/31,CNQ15,2015-07-31D08:45:00.284523900,149,2,-1,1,8,EA08E322DAD0BDF0,1051750,0,1,1047750,5
150,2015/7/31,CNQ15,2015-07-31D08:45:00.284523900,151,3,-1,1,8,6A08E322D4EFB80F,1048250,0,1,1047750,5
163,2015/7/31,CNQ15,2015-07-31D08:45:00.319523900,164,1,-3,1,8,629F6276A44F888F,1047750,0,1,1046500,6
165,2015/7/31,CNQ15,2015-07-31D08:45:00.319523900,166,2,-1,1,8,EA08E322DAD0BDF0,1047750,0,1,1046500,6
167,2015/7/31,CNQ15,2015-07-31D08:45:00.319523900,168,3,-1,1,8,6A08E322D4EFB80F,1047750,0,1,1046500,6
169,2015/7/31,CNQ15,2015-07-31D08:45:00.319523900,170,4,-1,1,8,E2006B22EF0AD22A,1047500,0,1,1046500,6
185,2015/7/31,CNQ15,2015-07-31D08:45:00.387523900,186,1,-3,1,8,629F6276A44F888F,1046500,0,1,1044250,7
187,2015/7/31,CNQ15,2015-07-31D08:45:00.387523900,188,2,-1,1,8,EA08E322DAD0BDF0,1046500,0,1,1044250,7
189,2015/7/31,CNQ15,2015-07-31D08:45:00.387523900,190,3,-1,1,8,6A08E322D4EFB80F,1046500,0,1,1044250,7
191,2015/7/31,CNQ15,2015-07-31D08:45:00.387523900,192,4,-1,1,8,E2006B22EF0AD22A,1046500,0,1,1044250,7
193,2015/7/31,CNQ15,2015-07-31D08:45:00.387523900,194,5,-1,1,8,70E05AE71BEA00EA,1045750,0,1,1044250,7
210,2015/7/31,CNQ15,2015-07-31D08:45:00.422523900,211,1,-3,1,8,629F6276A44F888F,1044250,0,1,1042250,8
212,2015/7/31,CNQ15,2015-07-31D08:45:00.422523900,213,2,-1,1,8,EA08E322DAD0BDF0,1044250,0,1,1042250,8
214,2015/7/31,CNQ15,2015-07-31D08:45:00.422523900,215,3,-1,1,8,6A08E322D4EFB80F,1044250,0,1,1042250,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2142,2015/7/31,CNQ15,2015-07-31D08:59:57.157468500,2143,1,-10,1,8,E0CCC63E0638E539,1064500,0,1,1064000,164
2144,2015/7/31,CNQ15,2015-07-31D08:59:57.157468500,2145,2,-141,1,8,CAD8E276F1B5D2F5,1064500,0,1,1064000,164
2146,2015/7/31,CNQ15,2015-07-31D08:59:57.157468500,2147,3,-1,1,8,4448677231EE154E,1064500,0,1,1064000,164
2148,2015/7/31,CNQ15,2015-07-31D08:59:57.157468500,2149,4,-1,1,8,E217E67EF6ACDAEC,1064500,0,1,1064000,164
2150,2015/7/31,CNQ15,2015-07-31D08:59:57.157468500,2151,5,-5,1,8,E483EA66F071CFB1,1064500,0,1,1064000,164
2152,2015/7/31,CNQ15,2015-07-31D08:59:57.157468500,2153,6,-6,1,8,F2A776BF965F7B5F,1064500,0,1,1064000,164
2241,2015/7/31,CNQ15,2015-07-31D08:59:57.893459500,2242,1,-10,1,8,E0CCC63E0638E539,1064000,0,1,1063500,164
2243,2015/7/31,CNQ15,2015-07-31D08:59:57.893459500,2244,2,-141,1,8,CAD8E276F1B5D2F5,1064000,0,1,1063500,164
2245,2015/7/31,CNQ15,2015-07-31D08:59:57.893459500,2246,3,-1,1,8,4448677231EE154E,1064000,0,1,1063500,164
2247,2015/7/31,CNQ15,2015-07-31D08:59:57.893459500,2248,4,-1,1,8,E217E67EF6ACDAEC,1064000,0,1,1063500,164
2249,2015/7/31,CNQ15,2015-07-31D08:59:57.893459500,2250,5,-5,1,8,E483EA66F071CFB1,1064000,0,1,1063500,164
2251,2015/7/31,CNQ15,2015-07-31D08:59:57.893459500,2252,6,-6,1,8,F2A776BF965F7B5F,1064000,0,1,1063500,164
2346,2015/7/31,CNQ15,2015-07-31D08:59:59.650449000,2347,1,-10,1,8,E0CCC63E0638E539,1063500,0,1,1063250,164
2348,2015/7/31,CNQ15,2015-07-31D08:59:59.650449000,2349,2,-141,1,8,CAD8E276F1B5D2F5,1063500,0,1,1063250,164
2350,2015/7/31,CNQ15,2015-07-31D08:59:59.650449000,2351,3,-1,1,8,4448677231EE154E,1063500,0,1,1063250,164
2352,2015/7/31,CNQ15,2015-07-31D08:59:59.650449000,2353,4,-1,1,8,E217E67EF6ACDAEC,1063500,0,1,1063250,164
2354,2015/7/31,CNQ15,2015-07-31D08:59:59.650449000,2355,5,-5,1,8,E483EA66F071CFB1,1063500,0,1,1063250,164
2356,2015/7/31,CNQ15,2015-07-31D08:59:59.650449000,2357,6,-6,1,8,F2A776BF965F7B5F,1063500,0,1,1063250,164
2452,2015/7/31,CNQ15,2015-07-31D08:59:59.860441500,2453,1,-10,1,8,E0CCC63E0638E539,1063250,0,1,1063000,164
2454,2015/7/31,CNQ15,2015-07-31D08:59:59.860441500,2455,2,-141,1,8,CAD8E276F1B5D2F5,1063250,0,1,1063000,164
2456,2015/7/31,CNQ15,2015-07-31D08:59:59.861441500,2457,3,-1,1,8,4448677231EE154E,1063250,0,1,1063000,164
2458,2015/7/31,CNQ15,2015-07-31D08:59:59.861441500,2459,4,-1,1,8,E217E67EF6ACDAEC,1063250,0,1,1063000,164
2460,2015/7/31,CNQ15,2015-07-31D08:59:59.861441500,2461,5,-5,1,8,E483EA66F071CFB1,1063250,0,1,1063000,164
2462,2015/7/31,CNQ15,2015-07-31D08:59:59.861441500,2463,6,-6,1,8,F2A776BF965F7B5F,1063250,0,1,1063000,164
2559,2015/7/31,CNQ15,2015-07-31D09:00:00.016441500,2560,1,-10,1,8,E0CCC63E0638E539,1063000,0,1,1062750,170
2561,2015/7/31,CNQ15,2015-07-31D09:00:00.016441500,2562,2,-141,1,8,CAD8E276F1B5D2F5,1063000,0,1,1062750,170
2563,2015/7/31,CNQ15,2015-07-31D09:00:00.016441500,2564,3,-1,1,8,4448677231EE154E,1063000,0,1,1062750,170
2565,2015/7/31,CNQ15,2015-07-31D09:00:00.016441500,2566,4,-1,1,8,E217E67EF6ACDAEC,1063000,0,1,1062750,170
2567,2015/7/31,CNQ15,2015-07-31D09:00:00.016441500,2568,5,-5,1,8,E483EA66F071CFB1,1063000,0,1,1062750,170
2569,2015/7/31,CNQ15,2015-07-31D09:00:00.016441500,2570,6,-6,1,8,F2A776BF965F7B5F,1063000,0,1,1062750,170

In [41]:
data_bid[(data_bid.change_reason == 8) & (data_bid.ob_command == 1)]

,date,series,timestamp,sequence_number,ob_position,quantity_difference,ob_command,change_reason,order_number,price,mp_quantity,bid_or_ask,bestprice,bestsize
43,2015/7/31,CNQ15,2015-07-31D08:45:00.111523900,44,1,-1,1,8,70E05AE71BEA00EA,1045750,0,1,1043500,1
50,2015/7/31,CNQ15,2015-07-31D08:45:00.146523900,51,1,-1,1,8,70E05AE71BEA00EA,1043500,0,1,1038500,2
52,2015/7/31,CNQ15,2015-07-31D08:45:00.146523900,53,2,-1,1,8,FE457FBF87856C85,1041500,0,1,1038500,2
66,2015/7/31,CNQ15,2015-07-31D08:45:00.168523900,67,1,-1,1,8,6A08E322D4EFB80F,1038500,0,1,1043500,2
68,2015/7/31,CNQ15,2015-07-31D08:45:00.168523900,69,2,-1,1,8,70E05AE71BEA00EA,1038500,0,1,1043500,2
70,2015/7/31,CNQ15,2015-07-31D08:45:00.168523900,71,3,-1,1,8,FE457FBF87856C85,1038500,0,1,1043500,2
80,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,81,1,-1,1,8,EA08E322DAD0BDF0,1043500,0,1,1047000,2
82,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,83,2,-1,1,8,6A08E322D4EFB80F,1043500,0,1,1047000,2
84,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,85,3,-1,1,8,70E05AE71BEA00EA,1043500,0,1,1047000,2
91,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,92,1,-3,1,8,629F6276A44F888F,1047000,0,1,1057500,3
93,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,94,2,-1,1,8,EA08E322DAD0BDF0,1047000,0,1,1057500,3
95,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,96,3,-1,1,8,6A08E322D4EFB80F,1047000,0,1,1057500,3
106,2015/7/31,CNQ15,2015-07-31D08:45:00.181523900,107,1,-3,1,8,629F6276A44F888F,1057500,0,1,1056250,3
133,2015/7/31,CNQ15,2015-07-31D08:45:00.249523900,134,1,-3,1,8,629F6276A44F888F,1056250,0,1,1051750,4
135,2015/7/31,CNQ15,2015-07-31D08:45:00.249523900,136,2,-1,1,8,EA08E322DAD0BDF0,1055250,0,1,1051750,4
146,2015/7/31,CNQ15,2015-07-31D08:45:00.284523900,147,1,-3,1,8,629F6276A44F888F,1051750,0,1,1047750,5
148,2015/7/31,CNQ15,2015-07-31D08:45:00.284523900,149,2,-1,1,8,EA08E322DAD0BDF0,1051750,0,1,1047750,5
150,2015/7/31,CNQ15,2015-07-31D08:45:00.284523900,151,3,-1,1,8,6A08E322D4EFB80F,1048250,0,1,1047750,5
163,2015/7/31,CNQ15,2015-07-31D08:45:00.319523900,164,1,-3,1,8,629F6276A44F888F,1047750,0,1,1046500,6
165,2015/7/31,CNQ15,2015-07-31D08:45:00.319523900,166,2,-1,1,8,EA08E322DAD0BDF0,1047750,0,1,1046500,6
167,2015/7/31,CNQ15,2015-07-31D08:45:00.319523900,168,3,-1,1,8,6A08E322D4EFB80F,1047750,0,1,1046500,6
169,2015/7/31,CNQ15,2015-07-31D08:45:00.319523900,170,4,-1,1,8,E2006B22EF0AD22A,1047500,0,1,1046500,6
185,2015/7/31,CNQ15,2015-07-31D08:45:00.387523900,186,1,-3,1,8,629F6276A44F888F,1046500,0,1,1044250,7
187,2015/7/31,CNQ15,2015-07-31D08:45:00.387523900,188,2,-1,1,8,EA08E322DAD0BDF0,1046500,0,1,1044250,7
189,2015/7/31,CNQ15,2015-07-31D08:45:00.387523900,190,3,-1,1,8,6A08E322D4EFB80F,1046500,0,1,1044250,7
191,2015/7/31,CNQ15,2015-07-31D08:45:00.387523900,192,4,-1,1,8,E2006B22EF0AD22A,1046500,0,1,1044250,7
193,2015/7/31,CNQ15,2015-07-31D08:45:00.387523900,194,5,-1,1,8,70E05AE71BEA00EA,1045750,0,1,1044250,7
210,2015/7/31,CNQ15,2015-07-31D08:45:00.422523900,211,1,-3,1,8,629F6276A44F888F,1044250,0,1,1042250,8
212,2015/7/31,CNQ15,2015-07-31D08:45:00.422523900,213,2,-1,1,8,EA08E322DAD0BDF0,1044250,0,1,1042250,8
214,2015/7/31,CNQ15,2015-07-31D08:45:00.422523900,215,3,-1,1,8,6A08E322D4EFB80F,1044250,0,1,1042250,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2142,2015/7/31,CNQ15,2015-07-31D08:59:57.157468500,2143,1,-10,1,8,E0CCC63E0638E539,1064500,0,1,1064000,164
2144,2015/7/31,CNQ15,2015-07-31D08:59:57.157468500,2145,2,-141,1,8,CAD8E276F1B5D2F5,1064500,0,1,1064000,164
2146,2015/7/31,CNQ15,2015-07-31D08:59:57.157468500,2147,3,-1,1,8,4448677231EE154E,1064500,0,1,1064000,164
2148,2015/7/31,CNQ15,2015-07-31D08:59:57.157468500,2149,4,-1,1,8,E217E67EF6ACDAEC,1064500,0,1,1064000,164
2150,2015/7/31,CNQ15,2015-07-31D08:59:57.157468500,2151,5,-5,1,8,E483EA66F071CFB1,1064500,0,1,1064000,164
2152,2015/7/31,CNQ15,2015-07-31D08:59:57.157468500,2153,6,-6,1,8,F2A776BF965F7B5F,1064500,0,1,1064000,164
2241,2015/7/31,CNQ15,2015-07-31D08:59:57.893459500,2242,1,-10,1,8,E0CCC63E0638E539,1064000,0,1,1063500,164
2243,2015/7/31,CNQ15,2015-07-31D08:59:57.893459500,2244,2,-141,1,8,CAD8E276F1B5D2F5,1064000,0,1,1063500,164
2245,2015/7/31,CNQ15,2015-07-31D08:59:57.893459500,2246,3,-1,1,8,4448677231EE154E,1064000,0,1,1063500,164
2247,2015/7/31,CNQ15,2015-07-31D08:59:57.893459500,2248,4,-1,1,8,E217E67EF6ACDAEC,1064000,0,1,1063500,164
2249,2015/7/31,CNQ15,2015-07-31D08:59:57.893459500,2250,5,-5,1,8,E483EA66F071CFB1,1064000,0,1,1063500,164
2251,2015/7/31,CNQ15,2015-07-31D08:59:57.893459500,2252,6,-6,1,8,F2A776BF965F7B5F,1064000,0,1,1063500,164
2346,2015/7/31,CNQ15,2015-07-31D08:59:59.650449000,2347,1,-10,1,8,E0CCC63E0638E539,1063500,0,1,1063250,164
2348,2015/7/31,CNQ15,2015-07-31D08:59:59.650449000,2349,2,-141,1,8,CAD8E276F1B5D2F5,1063500,0,1,1063250,164
2350,2015/7/31,CNQ15,2015-07-31D08:59:59.650449000,2351,3,-1,1,8,4448677231EE154E,1063500,0,1,1063250,164
2352,2015/7/31,CNQ15,2015-07-31D08:59:59.650449000,2353,4,-1,1,8,E217E67EF6ACDAEC,1063500,0,1,1063250,164
2354,2015/7/31,CNQ15,2015-07-31D08:59:59.650449000,2355,5,-5,1,8,E483EA66F071CFB1,1063500,0,1,1063250,164
2356,2015/7/31,CNQ15,2015-07-31D08:59:59.650449000,2357,6,-6,1,8,F2A776BF965F7B5F,1063500,0,1,1063250,164
2452,2015/7/31,CNQ15,2015-07-31D08:59:59.860441500,2453,1,-10,1,8,E0CCC63E0638E539,1063250,0,1,1063000,164
2454,2015/7/31,CNQ15,2015-07-31D08:59:59.860441500,2455,2,-141,1,8,CAD8E276F1B5D2F5,1063250,0,1,1063000,164
2456,2015/7/31,CNQ15,2015-07-31D08:59:59.861441500,2457,3,-1,1,8,4448677231EE154E,1063250,0,1,1063000,164
2458,2015/7/31,CNQ15,2015-07-31D08:59:59.861441500,2459,4,-1,1,8,E217E67EF6ACDAEC,1063250,0,1,1063000,164
2460,2015/7/31,CNQ15,2015-07-31D08:59:59.861441500,2461,5,-5,1,8,E483EA66F071CFB1,1063250,0,1,1063000,164
2462,2015/7/31,CNQ15,2015-07-31D08:59:59.861441500,2463,6,-6,1,8,F2A776BF965F7B5F,1063250,0,1,1063000,164
2559,2015/7/31,CNQ15,2015-07-31D09:00:00.016441500,2560,1,-10,1,8,E0CCC63E0638E539,1063000,0,1,1062750,170
2561,2015/7/31,CNQ15,2015-07-31D09:00:00.016441500,2562,2,-141,1,8,CAD8E276F1B5D2F5,1063000,0,1,1062750,170
2563,2015/7/31,CNQ15,2015-07-31D09:00:00.016441500,2564,3,-1,1,8,4448677231EE154E,1063000,0,1,1062750,170
2565,2015/7/31,CNQ15,2015-07-31D09:00:00.016441500,2566,4,-1,1,8,E217E67EF6ACDAEC,1063000,0,1,1062750,170
2567,2015/7/31,CNQ15,2015-07-31D09:00:00.016441500,2568,5,-5,1,8,E483EA66F071CFB1,1063000,0,1,1062750,170
2569,2015/7/31,CNQ15,2015-07-31D09:00:00.016441500,2570,6,-6,1,8,F2A776BF965F7B5F,1063000,0,1,1062750,170

In [42]:
data_bid[['timestamp','ob_position','price','bestprice','bestsize']].head()

                       timestamp  ob_position    price  bestprice  bestsize
0  2015-07-31D04:27:48.997487100            1   988500    1041500         1
2  2015-07-31D04:27:48.997487100            2   979000    1041500         1
3  2015-07-31D04:27:48.998487100            3   950000    1041500         1
4  2015-07-31D04:27:48.998487100            1  1041500    1041500         1
5  2015-07-31D04:27:48.998487100            2  1008000    1041500         1

In [43]:
data_bid[0:10]

,date,series,timestamp,sequence_number,ob_position,quantity_difference,ob_command,change_reason,order_number,price,mp_quantity,bid_or_ask,bestprice,bestsize
0,2015/7/31,CNQ15,2015-07-31D04:27:48.997487100,1,1,5,0,30,72D0F3B75B454045,988500,5,1,1041500,1
2,2015/7/31,CNQ15,2015-07-31D04:27:48.997487100,3,2,1,0,30,DC6ADEBB6E535353,979000,1,1,1041500,1
3,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,4,3,2,0,30,4005CE3E43912211,950000,2,1,1041500,1
4,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,5,1,1,0,30,FE457FBF87856C85,1041500,1,1,1041500,1
5,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,6,2,2,0,30,E33BA3AF1965F906,1008000,2,1,1041500,1
6,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,7,5,1,0,30,54F252BB0DE2F2E3,969250,1,1,1041500,1
7,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,8,7,1,0,30,D472DABB94327932,949000,1,1,1041500,1
8,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,9,8,1,0,30,54FADAB3464C2B4C,948750,1,1,1041500,1
9,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,10,2,1,0,30,4D602BF798E67886,1020000,1,1,1041500,1
13,2015/7/31,CNQ15,2015-07-31D04:27:49.003487100,14,5,5,0,30,6AD3CB22C767AAC7,981750,5,1,1041500,1

In [44]:
data_bid[0:10].sort(['price'],ascending = [False])

/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,date,series,timestamp,sequence_number,ob_position,quantity_difference,ob_command,change_reason,order_number,price,mp_quantity,bid_or_ask,bestprice,bestsize
4,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,5,1,1,0,30,FE457FBF87856C85,1041500,1,1,1041500,1
9,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,10,2,1,0,30,4D602BF798E67886,1020000,1,1,1041500,1
5,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,6,2,2,0,30,E33BA3AF1965F906,1008000,2,1,1041500,1
0,2015/7/31,CNQ15,2015-07-31D04:27:48.997487100,1,1,5,0,30,72D0F3B75B454045,988500,5,1,1041500,1
13,2015/7/31,CNQ15,2015-07-31D04:27:49.003487100,14,5,5,0,30,6AD3CB22C767AAC7,981750,5,1,1041500,1
2,2015/7/31,CNQ15,2015-07-31D04:27:48.997487100,3,2,1,0,30,DC6ADEBB6E535353,979000,1,1,1041500,1
6,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,7,5,1,0,30,54F252BB0DE2F2E3,969250,1,1,1041500,1
3,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,4,3,2,0,30,4005CE3E43912211,950000,2,1,1041500,1
7,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,8,7,1,0,30,D472DABB94327932,949000,1,1,1041500,1
8,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,9,8,1,0,30,54FADAB3464C2B4C,948750,1,1,1041500,1

In [45]:
data_bid.values[100][2][11:16] == '04:27'

False

In [46]:
data_bid[1:2][['timestamp']]#[11:16] == '04:27'

                       timestamp
2  2015-07-31D04:27:48.997487100

In [47]:
b = []
b1 = []
b2 = []
data_bid1 = []
for k in range(0,3,1):#len(data_bid)):
    if data_bid.values[k][2][11:16] == '04:27':
        data_bid1.append
        
        for i in range(48,50,1):
            a = "04:27:" + str(i)
            b.append(data_bid[data_bid['timestamp'].str.contains(a)])
            b1.append(b[i-48][['price','mp_quantity']].sort(['price'],ascending = [False]))
            b2.append(b1[i-48].groupby(by=['price'],as_index = False).sum().sort(['price'],ascending = [False]))

/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:12: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:13: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [48]:
len(b2)

6

In [49]:
a

'04:27:49'

In [50]:
b[0][['quantity_difference','price','mp_quantity']].sort(['price'],ascending = [False])

/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

   quantity_difference    price  mp_quantity
4                    1  1041500            1
9                    1  1020000            1
5                    2  1008000            2
0                    5   988500            5
2                    1   979000            1
6                    1   969250            1
3                    2   950000            2
7                    1   949000            1
8                    1   948750            1